body{
  overflow-x: hidden;
}
button{
  margin-top: 4px;
  border: 1px solid transparent;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:not(.instructionClose):hover,  
button:not(.instructionClose):focus{
  border: 1px solid #333;
  outline: 0;
}
.main{
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 4px;
}
.disable{
  pointer-events: none;
  opacity: 0.5;
}                  
.statusActive{
  visibility: visible;
  opacity: 1;
}
.statusActive:after{
  content: attr(data-text);
}
/* Instruction style */
.instructionContainer{
  position: absolute;
  overflow: hidden;
  overflow-y: visible;
  top:0; left: 100%; bottom: 0;
  background: rgba(0,0,0,0.7);
  padding: 10px 20px;
}
.instructionContainer h3,
.instructionContainer ol li,
.instructionContainer ol li>ul li{
  color: white;        
}
.instructionContainer ol li{
  margin-bottom: 8px;
}
.instructionContainer .instructionClose{
  position: absolute;
  right: 25px;
  border: 0;
  background: #333;
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50px;
}
.instructionContainer .markText{
  margin: 0 3px;
  padding: 0 2px;
}
.instructionContainer span{
  color: yellow;
}
.instructionContainer small,
.instructionContainer pre{
  color: white;
}
.instructionContainer small:hover{
  border-bottom: 1px solid red;
}
@media screen and (max-width: 350px){
  .instructionContainer ol{
    padding-left: 15px;
  }
  .instructionContainer ul{
    padding-left: 20px;
    padding-top: 5px;
  }
  .instructionContainer li{
    font-size: 14px;
  }
}
